@page "/"
@using BusinessLayer.Service.Interface
@using Model
@inject ITourService TourService
@* @rendermode InteractiveAuto *@
@rendermode InteractiveServer


<PageTitle>Create Tour</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h4><b>Your Tour</b></h4>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="from" class="form-label">From:</label>
                    <input id="from" class="form-control" @bind="TourService.newTour.FromLocation" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="to" class="form-label">To:</label>
                    <input id="to" class="form-control" @bind="TourService.newTour.ToLocation" />
                </div>
            </div>
            <div class="mb-3">
                <label for="transporttype" class="form-label">Transport Type:</label>
                <select id="transporttype" name="transporttype" class="form-select" @bind="TourService.newTour.TransportType">
                    <option value="car">Car</option>
                    <option value="bicycle">Bicycle</option>
                    <option value="byFoot">By foot</option>
                    <option value="publicTransport">Public transport</option>
                    <!-- Weitere Optionen hier einfügen -->
                </select>
            </div>
            <div class="mb-3">
                <label for="tourname" class="form-label">Name of Tour:</label>
                <input id="tourname" class="form-control" @bind="TourService.newTour.Name" />
            </div>
            <div class="mb-3">
                <label for="tourdescription" class="form-label">Description of Tour:</label>
                <input id="tourdescription" class="form-control" @bind="TourService.newTour.Description" style="height:100px" />
            </div>
            <button class="btn btn-danger" @onclick="TourService.CreateTourAsync">Submit</button>
            <button type="reset" class="btn btn-primary">Reset</button>

        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h4><b>Tour Details</b></h4>
            </div>
            <div id="map" style="height: 300px; background-color: lightgray;"></div>
        </div>
    </div>
</div>


