@page "/tourlog"
@using Model
@using BusinessLayer.Service.Interface
@inject ITourService TourService
@rendermode InteractiveServer

<PageTitle>TourLog Planner</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h4><b>Your Tour Log</b></h4>
            </div>
            <!-- Rest des Formulars -->
            <form @ref="formRef">
                <div class="mb-3">
                    <label for="tour" class="form-label">Tour:</label>
                    <select id="tour" name="tour" class="form-select" @bind="_selectedTourId" required>
                        <option value="" disabled selected>Select Tour</option>
                        @foreach (var tourModel in _tourModelList)
                        {
                            <option value="@tourModel.Id">@tourModel.Name</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label for="datum" class="form-label">Datum:</label>
                    <input type="date" id="datum" name="datum" class="form-control" @bind="_datum" required>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="difficulty" class="form-label">Difficulty:</label>
                        <select id="difficulty" name="difficulty" class="form-select" @bind="_difficulty" required>
                            <option value="" disabled selected>Tour Difficulty</option>
                            <option value="1">very easy</option>
                            <option value="2">easy</option>
                            <option value="3">okay</option>
                            <option value="4">difficult</option>
                            <option value="5">very difficult</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="rating" class="form-label">Rating:</label>
                        <select id="rating" name="rating" class="form-select" @bind="_rating" required>
                            <option value="" disabled selected>Rate Tour</option>
                            <option value="1">1 (very bad)</option>
                            <option value="2">2 (bad)</option>
                            <option value="3">3 (okay)</option>
                            <option value="4">4 (good)</option>
                            <option value="5">5 (very good)</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="totalDistance" class="form-label">Total Distance in m:</label>
                        <div class="input-group">
                            <input type="number" id="totalDistance" name="totalDistance" class="form-control" @bind="_totalDistance" min="0" max="100000" step="1" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="totalTime" class="form-label">Total Time in min:</label>
                        <div class="input-group">
                            <input type="number" id="totalTime" name="totalTime" class="form-control" @bind="_totalTime" min="0" max="100000" step="1" required>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="comment" class="form-label">Comment:</label>
                    <textarea id="comment" name="comment" class="form-control" @bind="_comment" style="height:10px"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" @onclick="ResetForm">Reset</button>
            </form>
        </div>
    </div>
</div>

@code {
    private Guid _selectedTourId;
    private DateTime _datum = DateTime.Today;
    private int _difficulty;
    private int _rating;
    private double _totalDistance;
    private int _totalTime;
    private string _comment;
    private List<TourModel> _tourModelList { get; set; }

    private ElementReference formRef;

    protected override void OnInitialized()
    {
        LoadTourData();
    }

    private void LoadTourData()
    {
        _tourModelList = TourService.GetTours();
    }

    private void ResetForm()
    {
        // Setze die Werte aller Eingabefelder auf ihre Standardwerte zurück
        _selectedTourId = Guid.Empty;
        _datum = DateTime.Now;
        _difficulty = 0;
        _rating = 0;
        _totalDistance = 0;
        _totalTime = 0;
        _comment = string.Empty;

    }
}
