<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="top-row navbar navbar-dark d-flex justify-content-center align-items-center" style="height: 120px;">
    <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
        <img src="tourPlannerLogo.png" height="100" alt="logo" />
    </div>
</div>



<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home" style="margin-right:15px"></i>
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tour">
                <span aria-hidden="true"><i class="fas fa-map" style="margin-right:15px"></i></span> Tour Planner
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tourlog">
                <span aria-hidden="true"><i class="fas fa-book" style="margin-right:15px"></i></span> TourLog Planner
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carrental">
                <span aria-hidden="true"><i class="fas fa-car" style="margin-right:15px"></i></span> Car Rental
            </NavLink>
        </div>


        @*<div class="nav-item px-3">
        <NavLink class="nav-link" href="weather">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
        </NavLink>
        </div> *@
    </nav>
</div>

